@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link {
  stroke: #3A505C;
}

.svg {
  min-width: 300px;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  fill: #3A505C;
  font-size: 14px;
}

.section {
    transition: background-color 0.3s;
    opacity: 0;
}

.section.active {
    background-color: #ddd; /* Add styling for the active section */
    opacity: 1;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s ease-out;
}

.section.active .fade-in-left {
    opacity: 1;
    transform: translateX(0);
}
